In [1]:
## Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Import and Load dataset
df = pd.read_csv('lagos_house_prices.csv')

In [4]:
df.head(10)

,location,bed,bath,toilet,price,Property_Type,Parking_Space,Security,Electricity,Furnished,Security_Doors,CCTV,Pool,Gym,BQ
0,yaba,1,1,2,700000.0,Mini flat,0,0,0,0,0,0,0,0,0
1,yaba,1,1,2,700000.0,Mini flat,0,0,0,0,0,0,0,0,0
2,yaba,1,1,2,650000.0,Mini flat,0,0,0,0,0,0,0,0,0
3,yaba,1,1,1,450000.0,Mini flat,0,0,0,0,0,0,0,0,0
4,yaba,3,3,4,800000.0,Detached duplex,0,1,0,0,0,0,0,0,0
5,yaba,1,1,2,600000.0,Mini flat,0,1,0,0,0,0,0,0,0
6,yaba,1,1,1,400000.0,Mini flat,1,0,0,0,0,0,0,0,0
7,yaba,1,2,2,550000.0,Mini flat,0,0,0,0,0,0,0,0,0
8,yaba,1,1,2,700000.0,Mini flat,0,0,0,0,0,0,0,0,0
9,yaba,1,1,2,700000.0,Mini flat,0,0,0,0,0,0,0,0,0